@using TecnoMarket.Core.ViewModels
@model List<ShoppingCartViewModel>;

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal total = 0;
}

<div class="container-fluid mt-3">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Lista de Articulos en el Carrito</h4>
        </div>
        <div class="card-body pb-3">
            <div class="table-responsive">
                <table class="table  table-striped table-hover" id="myTable">
                    <thead class="table-dark ">
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(x=> item.Product.Name)</td>
                                <td>@Html.DisplayFor(x=> item.Product.Description)</td>
                                <td>@Html.DisplayFor(x=> item.Product.Price)</td>
                            </tr>
                            <p>
                                @{
                                    total += item.Product.Price * item.Quantity;
                                }
                            </p>
                        }
                    </tbody>
                </table>
            </div>

        </div>
        <div class="card-footer ">
            <div class="row">
                <h4 class="col-6">Total: @total</h4>
                <button onclick="OnPay()" class="btn btn-success col-2">Pagar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            scrollY: '500px',
            paging: true,
            scrollCollapse: true
        });
    });
</script>

<partial name="_NotificationPartial" />

<script>

    function OnPay() {
        
        Swal.fire({
            title: 'Quieres Modificar el estado de este producto?',
            icon: 'question',
            showCancelButton: false,
            showDenyButton: true,
            denyButtonText: 'Cancelar'
        })
            .then((respuesta) => {
                if (respuesta.isConfirmed) {
                    fetch(`http://localhost:5211/Shop/Checkout`, {
                        method: 'POST',
                        body: "Prueba"
                    })
                        .then(({ ok }) => {
                            if (ok) {
                                location.reload();
                            } else {
                                location.reload();
                            }
                        });
                } else if (respuesta.isDenied) {
                    Swal.fire('Cancelado', '', 'error')
                }
            })
    }
</script>