@using TecnoMarket.Core.Entities.SecurityEntities
@model ApplicationUser


<div class="container mt-5 d-flex justify-content-center" id="formProduct">
    <form method="post" asp-action="ClientsEdit" asp-controller="Users">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Formulario de Cliente
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <input asp-for="Id" type="hidden" />
                    <div class="form-group col-sm-6 ">
                        <label asp-for="FullName" class="form-label">Nombre Completo:</label>
                        <input asp-for="FullName" class="form-control " placeholder="Digite su Nombre Completo..." />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <input asp-for="UserName"   type="hidden" class="form-control"  />
                    <input asp-for="Email" type="hidden" class="form-control"  />
                    <input asp-for="PasswordHash"  type="hidden" class="form-control"  />
                    <input asp-for="SecurityStamp"  type="hidden" class="form-control" />
                    <input asp-for="LockoutEnabled" type="hidden"  class="form-control " />
                    <input asp-for="LockoutEnd"  type="hidden" class="form-control" />
                    <input asp-for="ConcurrencyStamp"  type="hidden" class="form-control" />
                    <div class="form-group col-sm-6 ">
                        <label asp-for="PhoneNumber" class="form-label">Telefono:</label>
                        <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="Digite su Telefono..." />
                        <span asp-validation-for="PhoneNumber"></span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" type="submit">Guardar</button>
                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Volver</a>
            </div>
        </div>
    </form>
</div>



@section Scripts{
    <partial name="_ValidationScriptsPartial.cshtml" />
}