@using Microsoft.AspNetCore.Identity
@model IdentityRole
@{
    ViewData["Title"] = "Roles";
    Layout = null;
}


    <form method="post" asp-action="RolesAdd" asp-controller="Roles">
        <input type="text" hidden class="form-control" asp-for="Id" />
        <div class="form-group container p-5 ">
            <label class="form-label " asp-for="Name">Nombre del Rol:</label>
            <input type="text" class="form-control" asp-for="Name" placeholder="Digite El Nombre del Rol..." />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mt-5 d-flex justify-content-end ">
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success">Guardar</button>
      </div>
       
    </form>

@section Scripts{
    <partial name="_ValidationScriptsPartial.cshtml" />
        }