

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        @if(ViewData["ModalTitle"] != null) {<h1 class="modal-title fs-5" id="exampleModalLabel">@ViewData["ModalTitle"]</h1>}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body container" id="ModalBody">
        
      </div>

    </div>
  </div>
</div>

<script>
    @if(TempData["BasicModal"] != null){ @Html.Raw(TempData["BasicModal"].ToString())}
</script>