@using Microsoft.AspNetCore.Identity;
@using TecnoMarket.Core.Entities.SecurityEntities

@inject UserManager<ApplicationUser> UserManager;
@inject SignInManager<ApplicationUser> SignInManager;

@if (SignInManager.IsSignedIn(User))
{
    <p>

        @{
            var userName = UserManager.GetUserName(User);
            var user = UserManager.FindByNameAsync(userName).Result;
        }
    </p>

    @if (await UserManager.IsInRoleAsync(user, "Admin") || await UserManager.IsInRoleAsync(user, "Employee"))
    {

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="ProductList">Productos</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-darks" asp-area="" asp-controller="Category" asp-action="CategoryList">Categorias</a>
        </li>
    }
    @if (await UserManager.IsInRoleAsync(user, "Admin"))
    {

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-shield-lock"></i> Seguridad
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" asp-action="EmployeeList" asp-controller="Users"><i class="bi bi-person-gear"></i> Administrar Empleados</a></li>
                <li><a class="dropdown-item" asp-action="ClientsList" asp-controller="Users"><i class="bi bi-person-gear"></i> Administrar Clientes</a></li>
            </ul>
        </li>
    }
    @if (await UserManager.IsInRoleAsync(user, "User"))
    {
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                <i class="bi bi-cart2"></i> Carrito
            </a>
        </li>
    }
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

            <strong>|</strong>  <i class="bi bi-person-circle"></i> @user.FullName
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" asp-action="ProfileEdit" asp-controller="Users">Perfil</a></li>
            <hr />
            <li><button class="dropdown-item" onclick="OnLogout()"><i class="bi bi-box-arrow-left"></i>   Logout</button></li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Session" asp-action="Login">Iniciar Sesion</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link text-darks" asp-area="" asp-controller="Session" asp-action="Register">Registrarse</a>
    </li>

}

<script>
    function OnLogout() {
        fetch("http://localhost:5211/Session/Logout", {
            method: "POST"
        }
        ).then((respuesta) => location.reload())
    }
</script>