@{
    ViewData["Title"] = "Recuperar Contraseña";
    Layout = "~/Views/Shared/_SesionLayout.cshtml";
}

            <!-- Layout content-->
         
                <!-- Main page content-->
                <main class="container-fluid">
                    <!-- Main content container-->
                    <div >
                        <div class="row justify-content-center">
                            <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8">
                                <div class="card card-raised shadow-10 mt-5 mt-xl-10 mb-4">
                                    <div class="card-body p-5">
                                        <!-- Auth header with logo image-->
                                        <div class="text-center">
                                            <img class="mb-3" src="~/img/UserForgot.jpg" alt="..." style="height: 48px">
                                            <h3 class=" mb-4">Restablecer Contraseña</h3>
                                        </div>
                                        <!-- Reset password submission form-->
                                        <form asp-action="ForgotPassword" method="post">
                                            <div class="mb-4 form-group">
                                                <label class="form-label" for="Email">Correo: </label>
                                                <input type="email" class="form-control" name="Email" placeholder="Digite su correo..." />
                                            </div>
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small fw-500 text-decoration-none" asp-action="Login">Volver al login</a>
                                                <button class="btn btn-primary mdc-ripple-upgraded" type="submit">Restablecer Contraseña</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- Auth card message-->
                                <div class="text-center mb-5"><a class="small fw-500 text-decoration-none link-white" href="app-auth-register-basic.html">Need an account? Sign up!</a></div>
                            </div>
                        </div>
                    </div>
                </main>
            
         
           