html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
}

.btn-google {
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
}

.bg-register-image {
    background: url(https://static.vecteezy.com/system/resources/previews/002/003/150/non_2x/online-shopping-ecommerce-sale-cartoon-free-vector.jpg);
    background-position: center;
    background-size: cover;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




.input-validation-error ~ .invalid-feedback, .input-validation-error ~ .invalid-tooltip, .was-validated :invalid ~ .invalid-feedback, .was-validated :invalid ~ .invalid-tooltip {
    display: block
}
.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity)) !important
}

.form-control.input-validation-error, .was-validated .form-control:invalid {
    border-color: #da292e;
    padding-right: calc(1.5em + 1rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23da292e'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23da292e' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .25rem) center;
    background-size: calc(.75em + .5rem) calc(.75em + .5rem)
}

    .form-control.input-validation-error:focus, .was-validated .form-control:invalid:focus {
        border-color: #da292e;
        box-shadow: 0 0 0 .25rem rgba(218,41,46,.25)
    }

.was-validated textarea.form-control:invalid, textarea.form-control.input-validation-error {
    padding-right: calc(1.5em + 1rem);
    background-position: top calc(.375em + .25rem) right calc(.375em + .25rem)
}

.form-select.input-validation-error, .was-validated .form-select:invalid {
    border-color: #da292e
}

    .form-select.input-validation-error:not([multiple]):not([size]), .form-select.input-validation-error:not([multiple])[size="1"], .was-validated .form-select:invalid:not([multiple]):not([size]), .was-validated .form-select:invalid:not([multiple])[size="1"] {
        padding-right: 5.5rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e"),url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23da292e'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23da292e' stroke='none'/%3e%3c/svg%3e");
        background-position: right 1rem center,center right 3rem;
        background-size: 16px 12px,calc(.75em + .5rem) calc(.75em + .5rem)
    }

    .form-select.input-validation-error:focus, .was-validated .form-select:invalid:focus {
        border-color: #da292e;
        box-shadow: 0 0 0 .25rem rgba(218,41,46,.25)
    }

.form-control-color.input-validation-error, .was-validated .form-control-color:invalid {
    width: calc(3rem + calc(1.5em + 1rem))
}

.form-check-input.input-validation-error, .was-validated .form-check-input:invalid {
    border-color: #da292e
}

    .form-check-input.input-validation-error:checked, .was-validated .form-check-input:invalid:checked {
        background-color: #da292e
    }

    .form-check-input.input-validation-error:focus, .was-validated .form-check-input:invalid:focus {
        box-shadow: 0 0 0 .25rem rgba(218,41,46,.25)
    }

    .form-check-input.input-validation-error ~ .form-check-label, .was-validated .form-check-input:invalid ~ .form-check-label {
        color: #da292e
    }

.form-check-inline .form-check-input ~ .invalid-feedback {
    margin-left: .5em
}

.input-group > .form-control:not(:focus).input-validation-error, .input-group > .form-floating:not(:focus-within).input-validation-error, .input-group > .form-select:not(:focus).input-validation-error, .was-validated .input-group > .form-control:not(:focus):invalid, .was-validated .input-group > .form-floating:not(:focus-within):invalid, .was-validated .input-group > .form-select:not(:focus):invalid {
    z-index: 4
}


.valid ~ .valid-feedback, .valid ~ .valid-tooltip, .was-validated :valid ~ .valid-feedback, .was-validated :valid ~ .valid-tooltip {
    display: block
}

.form-control.valid, .was-validated .form-control:valid {
    border-color: #2fb380;
    padding-right: calc(1.5em + 1rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%232fb380' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .25rem) center;
    background-size: calc(.75em + .5rem) calc(.75em + .5rem)
}

    .form-control.valid:focus, .was-validated .form-control:valid:focus {
        border-color: #2fb380;
        box-shadow: 0 0 0 .25rem rgba(47,179,128,.25)
    }

.was-validated textarea.form-control:valid, textarea.form-control.valid {
    padding-right: calc(1.5em + 1rem);
    background-position: top calc(.375em + .25rem) right calc(.375em + .25rem)
}

.form-select.valid, .was-validated .form-select:valid {
    border-color: #2fb380
}

    .form-select.valid:not([multiple]):not([size]), .form-select.valid:not([multiple])[size="1"], .was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"] {
        padding-right: 5.5rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e"),url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%232fb380' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
        background-position: right 1rem center,center right 3rem;
        background-size: 16px 12px,calc(.75em + .5rem) calc(.75em + .5rem)
    }

    .form-select.valid:focus, .was-validated .form-select:valid:focus {
        border-color: #2fb380;
        box-shadow: 0 0 0 .25rem rgba(47,179,128,.25)
    }

.form-control-color.valid, .was-validated .form-control-color:valid {
    width: calc(3rem + calc(1.5em + 1rem))
}

.form-check-input.valid, .was-validated .form-check-input:valid {
    border-color: #2fb380
}

    .form-check-input.valid:checked, .was-validated .form-check-input:valid:checked {
        background-color: #2fb380
    }

    .form-check-input.valid:focus, .was-validated .form-check-input:valid:focus {
        box-shadow: 0 0 0 .25rem rgba(47,179,128,.25)
    }

    .form-check-input.valid ~ .form-check-label, .was-validated .form-check-input:valid ~ .form-check-label {
        color: #2fb380
    }

.form-check-inline .form-check-input ~ .valid-feedback {
    margin-left: .5em
}

.input-group > .form-control:not(:focus).valid, .input-group > .form-floating:not(:focus-within).valid, .input-group > .form-select:not(:focus).valid, .was-validated .input-group > .form-control:not(:focus):valid, .was-validated .input-group > .form-floating:not(:focus-within):valid, .was-validated .input-group > .form-select:not(:focus):valid {
    z-index: 3
}